* {
  font-family: Arial, Helvetica, sans-serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url(./img/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.chat_container {
  width: 400px;
  height: 600px;
  background-color: #eef0f6;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 10px 3px #8a98b86e;
}
.client {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80px;
  background-color: #323e5b;
}

.client img {
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.client-info {
  color: #fff;
}

.client-info p {
  font-size: 0.8em;
  color: #42d1f8;
  margin-top: 4px;
}

.chat_content {
  padding: 16px;
  height: 80%;
  overflow: hidden;
  overflow-y: scroll;
}

.chat_content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.chat_content ul li {
  width: fit-content;
  height: auto;
  padding: 16px;
  margin: 20px 10px;
}

.reciever {
  border-radius: 20px 20px 20px 0px;
  background-color: rgb(255, 255, 255);
}

#list .sender {
  margin-left: auto;
  border-radius: 20px 20px 0px 20px;
  background-color: #ffd000;
}

.input_field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #fff;
}

button {
  padding: 12px 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #5873ed;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}

input[type='text'] {
  background-color: #e8ebf3;
  border: 0;
  width: 290px;
  height: 50px;
  border-radius: 3px;
  margin-right: 10px;
}

::placeholder {
  color: #a5acbd;
}
